{% extends "base.html" %}

{% block title %} MoviesLand - {{ movie.title }} {% endblock %}


{% block content %}
    <nav class="menu " >
            <a  class="hollow button float-center" onclick="goBack()">Retour au films </a>
    </nav>
    <section id="about" >
        
        <article class="info" >
            <h3>Film : {{ movie.title }} </h3><br>
            
            <h4>Date de sortie :</h4> {{ movie.year_release }} 
            <h4>Description :</h4> <p id="description">{{ movie.description }} </p>

            <h4>Genre :</h4> 
                <ul class="breadcrumbs">
                    {% for genres in genre %}
                        <li>{{ genres.name}}</li>
                    {% endfor %}
                </ul>
               
            <h4>Réalisateur : </h4>
                <ul class="no-bullet">
                    {% for directors in director %}
                        <li>{{ directors.last_name}} {{ directors.first_name}}</li>
                    {% endfor %}
                </ul>
                
            <h4>Acteur :</h4>
                <ul class="no-bullet">
                    {% for actors in actor %}
                        <li>{{ actors.last_name}} {{ actors.first_name}}</li>
                    {% endfor %}
                </ul>   
        </article>
        
        <aside class="image" >
            <img class="about_img" src="{{ assets('img/')}}{{ movie.poster }}">
        </aside>

    </section>
    <script>

        function goBack() {
            window.history.back();
        }
    </script>
    
{% endblock %}
