{% extends "base.html" %}

{% block title %} MoviesLand - Home {% endblock %}

{% block content %}

    <section class="content responsive" id="home">
        
        {% for movie in movies %}

            <section class="movies">
                <a href="about/{{ movie.id }}">
                    <img class="home_img" src="{{ assets('img/')}}{{ movie.poster }}" >
                    <h2 class="home_title "> {{ movie.title }} </h2>
                </a>
            </section>
            
        {% endfor %}
    
    </section>
    
{% endblock %}
